<div id="organizations">
  <%= @organizations.each_with_index do |organization, i| %>
    <%= link_to organization do %>
      <div class="organization <%= i.even? ? 'left' : 'right'%>">
        <h2><%= organization.name %></h2>
        <h3><%= organization.city %></h3>
        <p><%= organization.needs %></p>
      </div>
    <% end %>
  <% end %>
</div>
